<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@task) do |f| %>
        <div class="form-group">
          <p>状態<%= f.text_area :status, class: 'form-control', rows: 2 %></p>
          <p>内容<%= f.text_area :content, class: 'form-control', rows: 5 %></p>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    
    <div class="col-xs-8">
    <h2>タスク一覧</h2>
      <ul>
        <% @tasks.each do |task| %>
            <li><%= link_to task.id, task %> 
                            : 
                  <%= task.status %>
                      &gt;
                  <%= task.content %>
            </li>
        <% end %>
      </ul>
    </div>  
    <%#div class="col-xs-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
      
    <%#/div%>
  </div>
<% else %>
  <p>タスク作成するぞ～</p>
  <div class="center jumbotron">
    <div class="text-center">
      
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>













  
  <%#h1>やること一覧</h1>
    <div>
      <%= current_user.name %>
        <%#ul>
            <% @tasks.each do |task| %>
              <%#li><%= link_to task.id, task %>
              <%#: <%= task.content %>
        　　<%# end %>
         <%#/ul>
           <div class="text-center">
              <%#= link_to '新規タスク作成', new_task_path, class: 'btn btn-lg btn-primary' %>
           <%#                              新規タスク作成箇所確認%>
          
           <%#/div>
    </div>
<% else %>
  <%#div class="center jumbotron">
    <div class="text-center">
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    <%#/div>
  </div>
<% end %>

<%#<h1>やること一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    
  <%#  <li>
      <%= link_to task.content, task_path(task, {content: task.content}) %>
    <%#</li>
    <%# 注意↑↑　　　　　　　　　　　　　　↑　routes.rbを確認せよ、resoucesの使い方チェク！idを使わない場合　%>
<%#  <% end %>
<%#  </ul>


<%= link_to '新規やることの投稿', new_task_path %>

<%#ul>
  
  <% @tasks.each do |task| %>
  
<%#  <li>
    <%= link_to task.id, task %> 
  : 
<%#  <%= task.status %>
<%#  &gt;
<%#  <%= task.content %>
<%#  </li>
  
  <% end %>
<%#</ul>

<%= link_to '新規タスク作成', new_task_path %>